## Which opponent is the most difficult to score points against? (FPL points analysis)

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split, StratifiedKFold
from scipy.stats import boxcox, zscore, zscore, norm, gaussian_kde

In [ ]:
# Starting gameweek
week = 12

# Current gameweek 
gameweek = 29

## Collect available player data

In [9]:
# Initialize an empty list to store all individual, player gameweek data 
all_player_sep = []

# Loop through each gameweek
for i in range(week, gameweek + 1):  # Adjusting the range to start from 1 to gameweek
    # Read the CSV for the current gameweek
    x = pd.read_csv(rf'C:\Users\thoma\Code\Projects\Fantasy-Premier-League\Data\Players\Seperate_GW\GW_{i}.csv')
    
    # Append the current gameweek data to the list
    all_player_sep.append(x)

# Concatenate all dataframes in the list into a single dataframe
player_data = pd.concat(all_player_sep, axis=0, ignore_index=True)

# Drop unnamed column
#player_data = player_data.drop(columns = ['Unnamed: 0'])

# Remove players who play less than 61 minutes in a game (i.e. they do not recieve their 2 points minimum for playoing this amount)
player_data = player_data[player_data['Minutes'] > 60].copy()

## Frequency Table

In [10]:
# Calculate frequencies of GW Points for all opponents
overall_frequency = (
    player_data['GW Points']
    .value_counts()
    .sort_index()
    .reset_index(name='Total')
)
overall_frequency.rename(columns={'index': 'GW Points'}, inplace=True)

# Initialize an empty list to store frequencies for each opponent
opponent_frequencies = []

# Get unique opponents and sort alphabetically
opponents = sorted(player_data['Opponent'].unique())

# Calculate frequency for each opponent
for opponent in opponents:
    # Filter data for the current opponent
    opponent_data = player_data[player_data['Opponent'] == opponent]
    
    # Calculate frequency for the opponent
    opp_frequency = (
        opponent_data['GW Points']
        .value_counts()
        .sort_index()
        .reset_index(name=f'{opponent}')
    )

    opp_frequency.rename(columns={'index': 'GW Points'}, inplace=True)
    
    # Append to the list
    opponent_frequencies.append(opp_frequency)

# Merge all opponent frequencies into a single DataFrame
counted_data = overall_frequency[['GW Points']]

for freq_df in opponent_frequencies:
    counted_data = counted_data.merge(freq_df, on='GW Points', how='left')

# Fill NaN values with 0 and remove decimals
counted_data.fillna(0, inplace=True)
counted_data = counted_data.astype(int)

# Combine data and reorder columns to place team names in alphabetical order
final_data = overall_frequency.merge(counted_data, on='GW Points')

# Show middle section of frequency table
final_data.iloc[10:15]

,GW Points,Total,ARS (A),ARS (H),AVL (A),AVL (H),BHA (A),BHA (H),BOU (A),BOU (H),...,NFO (A),NFO (H),SOU (A),SOU (H),TOT (A),TOT (H),WHU (A),WHU (H),WOL (A),WOL (H)
10,5,228,4,11,4,13,9,5,7,7,...,5,5,9,6,7,4,4,4,6,6
11,6,478,3,12,8,15,9,6,7,9,...,8,13,16,25,5,14,21,8,7,18
12,7,218,3,5,3,10,3,2,7,4,...,4,3,6,5,9,4,6,2,8,9
13,8,191,5,2,3,6,4,3,2,5,...,5,4,7,5,5,10,7,2,6,3
14,9,168,0,8,4,2,2,4,2,5,...,1,5,6,6,6,2,2,4,7,7

## Standardized GW Points vs clubs

In [11]:
# Filter and sort players by position and points
def filter_and_sort(data, positions, points_column='GW Points'):
    return data[data['Position'].isin(positions)].sort_values(by=points_column, ascending=False)

# Assign difficulty ratings based on z-scores using quartiles
def assign_difficulty(data, zscore_column='z_score', position_name=None):
    data['Difficulty'] = pd.qcut(data[zscore_column], q=5, labels=[5, 4, 3, 2, 1])
    data['Difficulty'] = data['Difficulty'].replace(1,2)
    return data

def process_players(data, positions, position_name):
    # Filter and sort the data based on the specified positions
    filtered = filter_and_sort(data, positions)

    # Compute the z-scores of the original GW Points
    filtered['z_score'] = zscore(filtered['GW Points'])

    # Now aggregate both the z_score and GW Points by Opponent
    z_scores_grouped = (
        filtered.groupby('Opponent', as_index=False)
        .agg({'z_score': 'mean', 'GW Points': 'mean'})
    )

    # Round the z_scores for readability
    z_scores_grouped['z_score'] = z_scores_grouped['z_score'].round(2)
    z_scores_grouped['Av_GW_Points'] = z_scores_grouped['GW Points'].round(2)
    z_scores_grouped.drop(columns = 'GW Points', inplace= True)

    # Add the Position column
    z_scores_grouped['Position'] = position_name

    # Assign difficulty ratings based on the z-score quantiles
    z_scores_grouped = assign_difficulty(z_scores_grouped, zscore_column='z_score', position_name=position_name)

    return z_scores_grouped


# Process defensive and attacking players
goalkeepers = process_players(player_data, ['GK', 'DEF'], 'GK')
defenders = process_players(player_data, ['GK','DEF'], 'DEF')
midfielders = process_players(player_data, ['MID', 'FWD'], 'MID')
forwards = process_players(player_data, ['MID','FWD'], 'FWD')

# Combined difficulty to assign to player games
FD_points = pd.concat([goalkeepers, defenders, midfielders, forwards])

C:\Users\thoma\AppData\Local\Temp\ipykernel_26016\843985532.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data['Difficulty'] = data['Difficulty'].replace(1,2)
C:\Users\thoma\AppData\Local\Temp\ipykernel_26016\843985532.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data['Difficulty'] = data['Difficulty'].replace(1,2)
C:\Users\thoma\AppData\Local\Temp\ipykernel_26016\843985532.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data['Difficulty'] = data['Difficulty'].replace(1,2)
C:\Users\thoma\AppData\Local\Temp\ipykernel_26016\843985532.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data['Difficulty'] = data['Difficulty'].replace(1,2)

In [15]:
FD_points.sort_values(by= 'Difficulty').head(25)

   Opponent  z_score  Av_GW_Points Position Difficulty
0   ARS (A)    -0.34          2.00       GK          5
24  MCI (A)    -0.22          3.06      FWD          5
23  LIV (H)    -0.31          2.74      FWD          5
0   ARS (A)    -0.34          2.00      DEF          5
5   BHA (H)    -0.37          1.91      DEF          5
22  LIV (A)    -0.39          2.49      FWD          5
10  CHE (A)    -0.32          2.06      DEF          5
17  FUL (H)    -0.21          3.09      FWD          5
22  LIV (A)    -0.43          1.72      DEF          5
23  LIV (H)    -0.49          1.57      DEF          5
24  MCI (A)    -0.29          2.14      DEF          5
30  NFO (A)    -0.20          2.39      DEF          5
31  NFO (H)    -0.20          2.40      DEF          5
10  CHE (A)    -0.21          3.10      FWD          5
0   ARS (A)    -0.33          2.70      MID          5
1   ARS (H)    -0.24          3.00      MID          5
10  CHE (A)    -0.21          3.10      MID          5
17  FUL (H)    -0.21          3.09      MID          5
1   ARS (H)    -0.24          3.00      FWD          5
0   ARS (A)    -0.33          2.70      FWD          5
22  LIV (A)    -0.39          2.49      MID          5
23  LIV (H)    -0.31          2.74      MID          5
24  MCI (A)    -0.22          3.06      MID          5
30  NFO (A)    -0.27          2.87      MID          5
31  NFO (H)    -0.20          2.40       GK          5